.editModal {
  position: sticky;
  top: calc(50%);
  left: calc(50%);
  z-index: 10;
  border: 1px solid black;
  border-radius: 4px;
}

.gratitude-item {
  background-color: #fcad4575;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon {
  margin: 5px;
}
.note-footer {
  display: flex;
  justify-content: flex-end;
}
